* {
    box-sizing: border-box;
  }
  body {
    background: #f4f4f4;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }
  
  .container {
    display: flex;
    padding: 20px;
    margin: 0 auto;
    max-width: 100%;
    width: 800px;
  }

  h1{
    font-weight: 600;
    background-color: #aeb108;
    color: #7c0e6f;
    width: 50%;
    text-align: center;
    font-size: 50px;
  }
  
  aside {
    padding: 10px 20px;
    width: 250px;
    border-right: 1px solid #111;
  }
  
  button {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: solid 1px #111;
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
  }
  
  main {
    flex: 1;
    padding: 10px 20px;
  }
  
  h2 {
    border-bottom: 1px solid #111;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    margin: 0 0 20px;
  }
  
  h3 {
    background-color: rgb(153, 127, 127);
    border-bottom: 1px solid #111;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    margin: 20px 0 0;
  }
  
  .person {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 10px;
  }

.money{
    color: #8b2555;
}

  /* Media Query */

  @media only screen and (max-width:600px){
    h1{
        font-size: 30px;

    }
    button{
        padding: 5px;
        font-size: 12px;
    }

    .person{
        font-size: 12px;
    }
  }
  @media only screen and (max-width:500px){
    h1{
        font-size: 25px;

    }

    h3{
        font-size: 16px;
    }
    button{
        padding: 3px;
        font-size: 12px;
    }

    .person{
        font-size: 15px;
    }
  }

  @media only screen and (max-width:400px){
    h1{
        font-size: 20px;

    }
    button{
        padding: 2px;
        font-size: 11px;
    }

    .person{
        font-size: 15px;
    }
  }
  